Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{cjs,js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

chore: update angular to v18.1
  package.json
Due: prettier --write --ignore-unknown

chore: update dependencies
  package.json
Due: prettier --write --ignore-unknown

chore: add modern normalize
  package.json
Due: prettier --write --ignore-unknown

chore: add branch name validation
  .husky/pre-push
  .lintstagedrc
  .validate-branch-namerc.cjs
  package.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update pre-commit husky hook
  .husky/pre-commit
Due: prettier --write --ignore-unknown

chore: add github workflows
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/request_review.yml
Due: prettier --write --ignore-unknown

fix: prettier
  README.md
  public/styles/common.scss
  public/styles/reset.scss
  public/styles/variables.scss
  src/app/admin/layout/admin-layout/admin-layout.component.spec.ts
  src/app/admin/layout/admin-layout/admin-layout.component.ts
  src/app/admin/pages/carriages/carriages.component.spec.ts
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/admin/pages/routes/routes.component.spec.ts
  src/app/admin/pages/routes/routes.component.ts
  src/app/admin/pages/schedule/schedule.component.spec.ts
  src/app/admin/pages/schedule/schedule.component.ts
  src/app/admin/pages/stations/stations.component.spec.ts
  src/app/admin/pages/stations/stations.component.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.spec.ts
  src/app/auth/pages/register/register.component.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/pages/not-found/not-found.component.ts
  src/app/home/pages/home/home.component.spec.ts
  src/app/home/pages/home/home.component.ts
  src/app/orders/pages/orders/orders.component.spec.ts
  src/app/orders/pages/orders/orders.component.ts
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/pages/profile/profile.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

chore: replace karma with jest
  angular.json
  jest.config.ts
  package.json
  setup-jest.ts
  src/app/app.component.spec.ts
  tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: test title in CI
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore: setup ngZorro
  angular.json
  package.json
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement localStorage service
  src/app/core/constants/store.ts
  src/app/core/models/store.model.ts
  src/app/core/services/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: localStorage interface name
  src/app/core/models/store.model.ts
  src/app/core/services/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: localStorage service
  src/app/core/services/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update ci tests flow
  .github/pull_request_template.md
  .github/workflows/format.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .husky/pre-push
  tsconfig.spec.json
Due: prettier --write --ignore-unknown

feat: initial localStorage in app
  src/app/app.component.ts
  src/app/core/services/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: exclude dist from test check
  jest.config.ts
  tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: include coverage report in the workflow
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

fix: ci pipeline name
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

style: add scss variables for the project
  angular.json
  public/styles/variables.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: add signUp service
  package.json
  src/app/api/models/errorResponse.ts
  src/app/api/models/user.ts
  src/app/api/signUpService/sign-up.service.spec.ts
  src/app/api/signUpService/sign-up.service.ts
  src/app/app.config.ts
  src/main.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add tests for signUp service
  src/app/api/signUpService/sign-up.service.spec.ts
  src/app/api/signUpService/sign-up.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: prettier issues
  src/app/api/models/errorResponse.ts
  src/app/api/models/user.ts
  src/app/api/signUpService/sign-up.service.spec.ts
  src/app/api/signUpService/sign-up.service.ts
  src/app/app.config.ts
  src/main.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add signIn service
  src/app/api/models/signInResponse.ts
  src/app/api/signInService/sign-in.service.spec.ts
  src/app/api/signInService/sign-in.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add tests for signIn service
  src/app/api/signInService/sign-in.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove gitkeep file
  src/app/api/.gitkeep
Due: prettier --write --ignore-unknown

fix: remove app test
  .eslintrc.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove header test
  src/app/core/components/header/header.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add sign up user registration
  src/app/app.routes.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.scss
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add eslint rule-unbound-method
  .eslintrc.json
Due: prettier --write --ignore-unknown

fix: ng zorro tests
  jest.config.ts
  src/__mocks__/ng-zorro-antd-mock.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: replace ngzorro with primeng
  angular.json
  jest.config.ts
  package.json
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: sidebar on the admin page
  src/app/admin/components/.gitkeep
  src/app/admin/components/sidebar/sidebar.component.html
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/components/sidebar/sidebar.component.spec.ts
  src/app/admin/components/sidebar/sidebar.component.ts
  src/app/admin/constants/navigation-links.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement layout on the admin page
  angular.json
  package.json
  public/styles/mixins.scss
  public/styles/variables.scss
  src/__mocks__/ng-zorro-antd-mock.ts
  src/app/admin/layout/admin-layout/admin-layout.component.html
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/layout/admin-layout/admin-layout.component.spec.ts
  src/app/admin/layout/admin-layout/admin-layout.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/components/header/header.component.ts
  src/app/redux/actions/.gitkeep
  src/app/redux/effects/.gitkeep
  src/app/redux/models/.gitkeep
  src/app/redux/reducers/.gitkeep
  src/app/redux/selectors/.gitkeep
  src/app/redux/state/.gitkeep
  src/styles.scss
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add sign up User Registration
  src/app/app.routes.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.scss
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add disabled eslint comment
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add app routes
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/shared/constants/appRoutes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement routing service
  src/app/core/components/header/header.component.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/routing/routing.service.spec.ts
  src/app/core/services/routing/routing.service.ts
  src/app/shared/constants/appRoutes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0
