Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

feat: different dummy orders for admin and user
  src/app/api/ordersService/orders.data.ts
  src/app/api/ordersService/orders.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update result list service
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/models/carriageInfo.model.ts
  src/app/home/models/currentRide.model.ts
  src/app/home/models/trainCarriage.ts
  src/app/home/models/trainCarriages.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary code
  src/app/orders/pages/orders/orders.component.html
Due: prettier --write --ignore-unknown

feat: display seats number
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.spec.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: price currency without cent
  src/app/admin/components/create-ride-form/create-ride-form.component.html
  src/app/admin/components/create-ride-form/create-ride-form.component.ts
  src/app/admin/components/ride-price/ride-price.component.html
  src/app/admin/components/ride-price/ride-price.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/orders/components/order/order.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement paginations on admin pages
  public/styles/common.scss
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/carriages-list/carriages-list.component.scss
  src/app/admin/components/carriages-list/carriages-list.component.ts
  src/app/admin/components/rides-list/rides-list.component.html
  src/app/admin/components/rides-list/rides-list.component.ts
  src/app/admin/components/routes-list/routes-list.component.html
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/components/stations-list/stations-list.component.html
  src/app/admin/components/stations-list/stations-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: style scroll to top button
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.html
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.scss
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

chore: create LICENSE
  LICENSE
Due: prettier --write --ignore-unknown

feat: add states for auth buttons
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
  src/app/auth/pipes/set-btn-icons.pipe.spec.ts
  src/app/auth/pipes/set-btn-icons.pipe.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: update carriages
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/models/carriageInfo.model.ts
  src/app/home/models/trainCarriage.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/shared/components/modal/modal.component.scss
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
  src/app/trip-detailed/services/train-carriages-list/train-carriages-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: display current type in one tab
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
Due: prettier --write --ignore-unknown

refactor: remove unnecessary code
  src/app/home/services/result-list/result-list.service.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary heading
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
Due: prettier --write --ignore-unknown

fix: remove error state
  src/app/auth/pipes/set-btn-icons.pipe.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: change seat color according to state
  public/styles/variables.scss
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/components/seat/seat.component.html
  src/app/admin/components/seat/seat.component.scss
  src/app/admin/components/seat/seat.component.ts
  src/app/admin/services/seat/seat.service.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: remove redundant code
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
Due: prettier --write --ignore-unknown

feat: sticky panel with seat info
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/services/seat/seat.service.ts
  src/app/home/components/trip-timeline/trip-timeline.component.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement booking a seat on a ride
  package.json
  src/app/admin/services/seat/helpers/helper.ts
  src/app/admin/services/seat/seat.service.ts
  src/app/api/models/order.ts
  src/app/api/ordersService/orders.service.ts
  src/app/home/components/search/search.component.ts
  src/app/shared/constants/string-templates.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove pipe
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
  src/app/auth/pipes/set-btn-icons.pipe.spec.ts
  src/app/auth/pipes/set-btn-icons.pipe.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.scss
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add loader for search button
  src/app/home/components/filter/filter.component.scss
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.scss
  src/app/home/components/search/search.component.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: effect function on registration form
  src/app/auth/pages/register/register.component.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: vacant seats count
  src/app/home/models/indices.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: replace anonymous interfaces
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.ts
  src/app/home/models/carriageCountMap.model.ts
  src/app/home/models/carriageNameMap.model.ts
  src/app/home/models/currentRide.model.ts
  src/app/home/models/freeSeatsMap.model.ts
  src/app/home/models/groupedRoutes.model.ts
  src/app/home/models/priceMap.model.ts
  src/app/home/models/routeDates.model.ts
  src/app/home/models/trainCarriage.model.ts
  src/app/home/models/trainCarriages.model.ts
  src/app/home/models/tripData.model.ts
  src/app/home/models/tripDates.model.ts
  src/app/home/models/tripIds.model.ts
  src/app/home/models/tripIndices.model.ts
  src/app/home/models/tripStations.model.ts
  src/app/home/services/filter/filter.service.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: color booked seat gray
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/seat/seat.component.scss
  src/app/admin/services/seat/seat.service.ts
  src/app/api/models/search.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: create login form component
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: search params
  package.json
  src/app/api/models/search.ts
  src/app/auth/pages/register/register.component.ts
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/auth/services/auth-service/auth.service.spec.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/core/components/navigation/navigation.component.spec.ts
  src/app/core/services/routing/routing.service.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: no-rides title
  src/app/home/components/filter/filter.component.scss
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: height of sign-in and sign-up pages
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/register/register.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement deleting stations
  src/app/admin/components/ride/ride.component.ts
  src/app/admin/components/station/station.component.scss
  src/app/admin/components/station/station.component.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: separate register form component from register page
  src/app/auth/components/register-form/register-form.component.html
  src/app/auth/components/register-form/register-form.component.scss
  src/app/auth/components/register-form/register-form.component.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.scss
  src/app/auth/pages/register/register.component.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: redesign lists on admin pages
  package.json
  src/app/admin/components/rides-list/rides-list.component.html
  src/app/admin/components/rides-list/rides-list.component.scss
  src/app/admin/components/rides-list/rides-list.component.ts
  src/app/admin/components/route/route.component.html
  src/app/admin/components/route/route.component.ts
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/components/station/station.component.html
  src/app/admin/components/station/station.component.scss
  src/app/admin/components/station/station.component.ts
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: display carriage types on routes accordion
  src/app/admin/components/route/route.component.html
Due: prettier --write --ignore-unknown

fix: active tab index
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: make the modal window more flexible in terms of positioning
  src/app/admin/components/carriages-list/carriages-list.component.ts
  src/app/admin/components/route/route.component.html
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.ts
  src/app/shared/directives/.gitkeep
  src/app/shared/directives/position/constants/position.constants.ts
  src/app/shared/directives/position/models/position.model.ts
  src/app/shared/directives/position/position.directive.spec.ts
  src/app/shared/directives/position/position.directive.ts
  src/app/shared/pipes/.gitkeep
  src/app/shared/services/modal/modal.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: result list service
  package.json
  src/app/admin/services/seat/seat.service.ts
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/shared/models/carriageCountMap.model.ts
  src/app/shared/models/carriageInfo.model.ts
  src/app/shared/models/carriageNameMap.model.ts
  src/app/shared/models/currentRide.model.ts
  src/app/shared/models/freeSeatsMap.model.ts
  src/app/shared/models/priceMap.model.ts
  src/app/shared/models/routeDates.model.ts
  src/app/shared/models/stationInfo.model.ts
  src/app/shared/models/trainCarriage.model.ts
  src/app/shared/models/trainCarriages.model.ts
  src/app/shared/models/tripDates.model.ts
  src/app/shared/models/tripIds.model.ts
  src/app/shared/models/tripIndices.model.ts
  src/app/shared/models/tripStations.model.ts
  src/app/shared/services/data/constants/constants.ts
  src/app/shared/services/data/ride/ride.service.spec.ts
  src/app/shared/services/data/ride/ride.service.ts
  src/app/shared/services/data/tripCarriages/trip-carriages.service.spec.ts
  src/app/shared/services/data/tripCarriages/trip-carriages.service.ts
  src/app/shared/services/data/tripDates/trip-dates.service.spec.ts
  src/app/shared/services/data/tripDates/trip-dates.service.ts
  src/app/shared/services/data/tripPrice/trip-price.service.spec.ts
  src/app/shared/services/data/tripPrice/trip-price.service.ts
  src/app/shared/services/data/tripStations/trip-stations.service.spec.ts
  src/app/shared/services/data/tripStations/trip-stations.service.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: remove unused ant icons
  package.json
Due: prettier --write --ignore-unknown
