Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

feat: display price for a trip
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.scss
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: display days, hours, minutes of the trip
  src/app/shared/utils/calculateDuration.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add more cities on autocomplete
  package.json
  src/app/api/interceptors/http.interceptor.ts
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/models/tripData.ts
  src/app/home/services/cities/cities.service.spec.ts
  src/app/home/services/cities/cities.service.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add start time and station in order
  src/app/api/models/order.ts
  src/app/api/ordersService/orders.data.ts
  src/app/api/ordersService/orders.service.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.scss
  src/app/orders/components/order/order.component.ts
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/components/orders-list/orders-list.component.scss
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.spec.ts
  src/app/orders/pages/orders/orders.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add end time and station in order
  src/app/api/ordersService/orders.data.ts
  src/app/orders/components/.gitkeep
  src/app/orders/components/order/order.component.html
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/pages/orders/orders.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add highlighting for active tab
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: prettier issues
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement search results for tabs
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/pages/home/home.component.html
  src/app/home/service/result-list-service/result-list.service.spec.ts
  src/app/home/service/result-list-service/result-list.service.ts
  src/app/home/services/filter/filter.service.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: user form
  src/app/home/components/result-list/result-list.component.html
  src/app/home/services/result-list/result-list.service.ts
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: set initial value on cancel only
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: set a default parameter
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display route arrival and departure dates
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/home/models/stationInfo.model.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/shared/utils/calculateDuration.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display stop duration
  src/app/home/services/result-list/constants/constants.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/shared/utils/calculateDuration.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: stations schedule
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: no results image background
  public/img/no-results.png
  public/img/no-results.webp
  src/app/home/components/result-list/result-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: result list service
  src/app/home/components/search/search.component.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: result list
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/result-list.component.html
Due: prettier --write --ignore-unknown

feat: scroll to first user station
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove magic strings
  src/app/home/components/trip-details/constants/constants.ts
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement create new ride form
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/create-ride-form/create-ride-form.component.html
  src/app/admin/components/create-ride-form/create-ride-form.component.scss
  src/app/admin/components/create-ride-form/create-ride-form.component.spec.ts
  src/app/admin/components/create-ride-form/create-ride-form.component.ts
  src/app/admin/components/route/route.component.html
  src/app/admin/components/station/station.component.html
  src/app/admin/components/station/station.component.scss
  src/app/admin/models/create-ride-form.model.ts
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/admin/pages/routes/routes.component.html
  src/app/admin/utils/collectAllRideData.ts
  src/app/shared/directives/.gitkeep
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add trip duration in order
  src/app/api/ordersService/orders.data.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.scss
  src/app/orders/components/order/order.component.ts
  src/app/orders/models/timeline-data.model.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: error handle while search fake cities
  src/app/home/components/filter/filter.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/services/cities/cities.service.ts
  src/app/home/services/filter/filter.service.spec.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: route id
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: ride id
  src/app/home/components/result-list/components/result-item/result-item.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: count seats number on train
  src/app/api/carriagesService/carriage.service.ts
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add carriage type
  src/app/api/ordersService/orders.data.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: missing date-keys for group routes
  src/app/api/models/search.ts
  src/app/home/components/filter/filter.component.html
  src/app/home/models/groupedRoutes.ts
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update planess/train-a-backend
  package.json
Due: prettier --write --ignore-unknown

feat: add delete ride method
  src/app/api/rideService/ride.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add carriage method
  src/app/api/carriagesService/carriage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement deleting a ride
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.scss
  src/app/admin/components/ride/ride.component.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add rides number to tabs
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update readme
  README.md
Due: prettier --write --ignore-unknown

fix: prices
  src/app/home/components/filter/filter.component.scss
  src/app/home/services/filter/filter.service.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement loaders on the all of admin pages
  public/styles/mixins.scss
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/carriages-list/carriages-list.component.scss
  src/app/admin/components/map/map.component.scss
  src/app/admin/components/rides-list/rides-list.component.html
  src/app/admin/components/rides-list/rides-list.component.scss
  src/app/admin/components/route-form/route-form.component.html
  src/app/admin/components/route/route.component.html
  src/app/admin/components/routes-list/routes-list.component.html
  src/app/admin/components/routes-list/routes-list.component.scss
  src/app/admin/components/station/station.component.html
  src/app/admin/components/stations-list/stations-list.component.html
  src/app/admin/components/stations-list/stations-list.component.scss
  src/app/admin/constants/initial-map-state.ts
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/carriages/carriages.component.scss
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/admin/pages/routes/routes.component.html
  src/app/admin/pages/routes/routes.component.scss
  src/app/admin/pages/routes/routes.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: count occupied seats
  src/app/home/models/carriageInfo.model.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove disabling eslint rule
  src/app/shared/directives/autocompleteIcon/autocomplete-icon.directive.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

style: make no results picture smaller
  src/app/home/components/filter/filter.component.html
  src/app/home/components/result-list/result-list.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: remove redundant methods parameters
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary nullish
  src/app/home/components/filter/filter.component.html
Due: prettier --write --ignore-unknown
