Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

fix: fix test
  src/app/auth/services/auth-service/auth.service.spec.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: fix test providers
  src/app/auth/pages/register/register.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: displaying existing stations
  package.json
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/map/map.component.ts
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/components/station/station.component.html
  src/app/admin/components/station/station.component.scss
  src/app/admin/components/station/station.component.ts
  src/app/admin/components/stations-list/stations-list.component.html
  src/app/admin/components/stations-list/stations-list.component.scss
  src/app/admin/components/stations-list/stations-list.component.ts
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/pages/stations/stations.component.html
  src/app/admin/pages/stations/stations.component.ts
  src/app/admin/services/map/map.service.ts
  src/app/api/stationsService/stations.service.spec.ts
  src/app/api/stationsService/stations.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: update local storage service
  src/app/core/services/local-storage/helpers/helper.ts
  src/app/core/services/local-storage/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: prettier issues
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
  src/app/auth/services/auth-service/auth.service.spec.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add profile service
  src/app/api/models/profile.ts
  src/app/api/profileService/profile.service.spec.ts
  src/app/api/profileService/profile.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement access level guards
  src/app/app.routes.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display appropriate header
  src/app/admin/layout/admin-layout/admin-layout.component.html
  src/app/admin/layout/admin-layout/admin-layout.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/components/header/header.component.ts
  src/app/core/components/navigation/constants/navigation-links.ts
  src/app/core/components/navigation/navigation.component.html
  src/app/core/components/navigation/navigation.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement access level display
  src/app/auth/components/.gitkeep
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.ts
  src/app/auth/guards/admin.guard.ts
  src/app/auth/guards/login.guard.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.ts
  src/app/core/constants/store.ts
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/core/services/routing/routing.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/admin/layout/admin-layout/admin-layout.component.spec.ts
  src/app/core/components/navigation/navigation.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add carriage serice
  src/app/api/carriagesService/carriage.service.spec.ts
  src/app/api/carriagesService/carriage.service.ts
  src/app/api/models/carriage.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add search service
  src/app/api/models/search.ts
  src/app/api/searchService/search.service.spec.ts
  src/app/api/searchService/search.service.ts
  src/app/api/signUpService/sign-up.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: carriages page layout
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/carriages-list/carriages-list.component.scss
  src/app/admin/components/carriages-list/carriages-list.component.spec.ts
  src/app/admin/components/carriages-list/carriages-list.component.ts
  src/app/admin/components/seat/seat.component.html
  src/app/admin/components/seat/seat.component.scss
  src/app/admin/components/seat/seat.component.spec.ts
  src/app/admin/components/seat/seat.component.ts
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/carriages/carriages.component.scss
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/admin/utils/chunkArray.ts
  src/app/admin/utils/createSeatsSchema.ts
  src/app/api/carriagesService/carriage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/pages/carriages/carriages.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement app message service
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/station/station.component.ts
  src/app/admin/services/map/map.service.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/core/components/navigation/navigation.component.spec.ts
  src/app/shared/constants/message-status.ts
  src/app/shared/services/.gitkeep
  src/app/shared/services/userMessage/constants/constants.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
  src/app/shared/services/userMessage/user-message.service.spec.ts
  src/app/shared/services/userMessage/user-message.service.ts
  src/app/shared/utils/makeFirstLetterToUppercase.ts
  src/app/shared/utils/makeFirstLetterUppercase.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add error messages for login form
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add trip-details service
  src/app/api/models/trip-detailed.ts
  src/app/api/tripDetailedService/trip-detailed.service.spec.ts
  src/app/api/tripDetailedService/trip-detailed.service.ts
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add error messages with symbols excluding space around
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
  src/app/shared/validators/validators.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove comments
  src/app/shared/validators/validators.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: replace interfaces
  package.json
  src/app/api/models/search.ts
  src/app/api/models/trip-detailed.ts
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: add errors for mismatched passwords should be shown immediately
  src/app/auth/pages/register/register.component.html
Due: prettier --write --ignore-unknown

refactor: remove comments
  src/app/auth/pages/register/register.component.html
Due: prettier --write --ignore-unknown

feat: add orders service
  src/app/api/models/order.ts
  src/app/api/models/search.ts
  src/app/api/models/trip-detailed.ts
  src/app/api/ordersService/orders.service.spec.ts
  src/app/api/ordersService/orders.service.ts
  src/app/api/tripDetailedService/trip-detailed.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove backticks
  src/app/api/ordersService/orders.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display user info
  src/app/profile/components/.gitkeep
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.scss
  src/app/profile/components/user-info/user-info.component.spec.ts
  src/app/profile/components/user-info/user-info.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement editing personal info
  public/styles/variables.scss
  src/app/auth/pages/login/login.component.ts
  src/app/core/constants/store.ts
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/.gitkeep
  src/app/profile/services/personalInfo/personal-info.service.spec.ts
  src/app/profile/services/personalInfo/personal-info.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement styles for sign-up
  public/styles/variables.scss
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement modal component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/shared/components/.gitkeep
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/components/modal/modal.component.ts
  src/app/shared/services/modal/modal.service.spec.ts
  src/app/shared/services/modal/modal.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement create carriage form
  src/app/admin/components/create-carriage-form/create-carriage-form.component.html
  src/app/admin/components/create-carriage-form/create-carriage-form.component.scss
  src/app/admin/components/create-carriage-form/create-carriage-form.component.spec.ts
  src/app/admin/components/create-carriage-form/create-carriage-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: change name of variable "shadow"
  public/styles/variables.scss
  src/app/auth/pages/register/register.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement update carriage form
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/carriages-list/carriages-list.component.ts
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/components/update-carriage-form/update-carriage-form.component.html
  src/app/admin/components/update-carriage-form/update-carriage-form.component.scss
  src/app/admin/components/update-carriage-form/update-carriage-form.component.spec.ts
  src/app/admin/components/update-carriage-form/update-carriage-form.component.ts
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/admin/utils/createSeatsSchema.ts
  src/app/api/carriagesService/carriage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: wrap subscriptions
  src/app/admin/components/create-carriage-form/create-carriage-form.component.ts
  src/app/admin/components/update-carriage-form/update-carriage-form.component.ts
  src/app/admin/constants/initial-carriage.ts
  src/app/api/carriagesService/carriage.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: forms styles
  src/app/admin/components/create-carriage-form/create-carriage-form.component.scss
  src/app/admin/components/update-carriage-form/update-carriage-form.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: add route service
  src/app/api/models/route.ts
  src/app/api/models/search.ts
  src/app/api/routeService/route.service.spec.ts
  src/app/api/routeService/route.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: interactive seats on the admin page
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/carriages-list/carriages-list.component.ts
  src/app/admin/components/create-carriage-form/create-carriage-form.component.html
  src/app/admin/components/create-carriage-form/create-carriage-form.component.ts
  src/app/admin/components/seat/seat.component.scss
  src/app/admin/components/update-carriage-form/update-carriage-form.component.html
  src/app/core/services/routing/routing.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/components/carriages-list/carriages-list.component.spec.ts
  src/app/admin/pages/carriages/carriages.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: branch name
  src/app/admin/components/create-carriage-form/create-carriage-form.component.html
Due: prettier --write --ignore-unknown

feat: implement editing separate fields
  src/app/auth/pages/login/login.component.ts
  src/app/profile/components/user-info/constants/constants.ts
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.spec.ts
  src/app/profile/components/user-info/user-info.component.ts
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/services/personalInfo/personal-info.service.spec.ts
  src/app/profile/services/personalInfo/personal-info.service.ts
  src/app/shared/validators/constants/constants.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add regex error message
  src/app/profile/components/user-info/user-info.component.html
Due: prettier --write --ignore-unknown

fix: cancel not touched field edit
  src/app/profile/components/user-info/user-info.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0
