Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

style: update variables
  public/styles/variables.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement styles for sign-in
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: app routing
  src/app/admin/constants/navigation-links.ts
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.spec.ts
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/admin/pages/schedule/schedule.component.html
  src/app/app.routes.ts
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/constants/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add schedule service
  src/app/api/constants/constants.ts
  src/app/api/models/schedule.ts
  src/app/api/models/search.ts
  src/app/api/routeService/route.service.ts
  src/app/api/scheduleService/schedule.service.spec.ts
  src/app/api/scheduleService/schedule.service.ts
  src/app/api/searchService/search.service.ts
  src/app/api/tripDetailedService/trip-detailed.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: closing modal window
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.ts
  src/app/shared/services/modal/modal.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement changing password
  src/app/admin/constants/adminCredentials.ts
  src/app/auth/pages/register/register.component.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/profile/components/password-change/password-change.component.html
  src/app/profile/components/password-change/password-change.component.scss
  src/app/profile/components/password-change/password-change.component.spec.ts
  src/app/profile/components/password-change/password-change.component.ts
  src/app/profile/components/user-info/constants/constants.ts
  src/app/profile/components/user-info/user-info.component.html
  src/app/profile/components/user-info/user-info.component.scss
  src/app/profile/components/user-info/user-info.component.ts
  src/app/profile/services/personalInfo/personal-info.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: header material icons size
  public/styles/variables.scss
  src/app/core/components/navigation/navigation.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

fix: show user name after login
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/profile/components/user-info/user-info.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/personalInfo/personal-info.service.spec.ts
  src/app/profile/services/personalInfo/personal-info.service.ts
  src/app/shared/services/modal/modal.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/shared/components/modal/modal.component.html
Due: prettier --write --ignore-unknown

feat: unsubscribe on destroy
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/profile/pages/profile/profile.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: carriages page
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriages-list/carriages-list.component.html
  src/app/admin/components/create-carriage-form/create-carriage-form.component.ts
  src/app/admin/components/update-carriage-form/update-carriage-form.component.ts
  src/app/admin/pages/carriages/carriages.component.html
  src/app/admin/pages/carriages/carriages.component.ts
  src/app/api/carriagesService/carriage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: stations page
  public/styles/common.scss
  src/app/admin/components/create-station-form/create-station-form.component.html
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/map/map.component.html
  src/app/admin/components/map/map.component.ts
  src/app/admin/components/station/station.component.html
  src/app/admin/components/station/station.component.ts
  src/app/admin/components/stations-list/stations-list.component.html
  src/app/admin/components/stations-list/stations-list.component.ts
  src/app/admin/pages/stations/stations.component.html
  src/app/admin/pages/stations/stations.component.ts
  src/app/admin/services/map/map.service.ts
  src/app/api/stationsService/stations.service.ts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: relocate endpoints in separate file
  src/app/api/carriagesService/carriage.service.ts
  src/app/api/constants/constants.ts
  src/app/api/interceptors/http.interceptor.ts
  src/app/api/logoutService/logout.service.ts
  src/app/api/ordersService/orders.service.ts
  src/app/api/profileService/profile.service.ts
  src/app/api/routeService/route.service.ts
  src/app/api/scheduleService/schedule.service.ts
  src/app/api/searchService/search.service.ts
  src/app/api/signInService/sign-in.service.spec.ts
  src/app/api/signInService/sign-in.service.ts
  src/app/api/signUpService/sign-up.service.spec.ts
  src/app/api/signUpService/sign-up.service.ts
  src/app/api/stationsService/stations.service.ts
  src/app/api/tripDetailedService/trip-detailed.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: prettier issues
  src/app/api/signInService/sign-in.service.spec.ts
  src/app/api/signUpService/sign-up.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: make the header fixed on the admin page
  src/app/admin/layout/admin-layout/admin-layout.component.html
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/core/components/header/header.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: make the modal window more configurable
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/profile/components/password-change/password-change.component.scss
  src/app/profile/components/user-info/user-info.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/services/modal/modal.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: station background
  src/app/admin/components/station/station.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: custom scroll
  public/styles/common.scss
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/components/station/station.component.html
  src/app/admin/components/station/station.component.scss
  src/app/profile/components/password-change/password-change.component.html
  src/app/profile/components/password-change/password-change.component.scss
  src/app/shared/components/modal/modal.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

Update public/styles/common.scss
  public/styles/common.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

fix: carriage overflow
  src/app/admin/components/carriage/carriage.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: display of routes on the admin routes page
  src/app/admin/components/route/route.component.html
  src/app/admin/components/route/route.component.scss
  src/app/admin/components/route/route.component.spec.ts
  src/app/admin/components/route/route.component.ts
  src/app/admin/components/routes-list/routes-list.component.html
  src/app/admin/components/routes-list/routes-list.component.scss
  src/app/admin/components/routes-list/routes-list.component.spec.ts
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/pages/routes/routes.component.html
  src/app/admin/pages/routes/routes.component.ts
  src/app/api/routeService/route.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: update auth service
  src/app/auth/pages/login/login.component.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/auth/services/auth-service/helpers/helper.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: route-managment-actions
  src/app/admin/components/route/route.component.html
  src/app/admin/components/route/route.component.scss
  src/app/admin/components/route/route.component.ts
  src/app/admin/components/routes-list/routes-list.component.html
  src/app/admin/components/routes-list/routes-list.component.scss
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/pages/routes/routes.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/components/routes-list/routes-list.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: show user message about route deleted successfully
  src/app/admin/components/routes-list/routes-list.component.spec.ts
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: round the buttons
  src/app/admin/components/routes-list/routes-list.component.html
Due: prettier --write --ignore-unknown

feat: implement scroll-to-top button
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/scroll-to-top-button/constants/constants.ts
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.html
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.scss
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.spec.ts
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

style: update button position
  src/app/shared/components/scroll-to-top-button/scroll-to-top-button.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: update pages routes to follow the requirements precisely
  src/app/app.routes.ts
  src/app/shared/constants/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: creating and updating routes
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/route-form/route-form.component.html
  src/app/admin/components/route-form/route-form.component.scss
  src/app/admin/components/route-form/route-form.component.spec.ts
  src/app/admin/components/route-form/route-form.component.ts
  src/app/admin/components/route/route.component.html
  src/app/admin/components/route/route.component.ts
  src/app/admin/components/routes-list/routes-list.component.html
  src/app/admin/components/routes-list/routes-list.component.ts
  src/app/admin/components/station/station.component.ts
  src/app/admin/pages/routes/routes.component.html
  src/app/admin/pages/routes/routes.component.scss
  src/app/admin/pages/routes/routes.component.ts
  src/app/api/carriagesService/carriage.service.ts
  src/app/api/routeService/route.service.ts
  src/app/api/stationsService/stations.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/components/route-form/route-form.component.spec.ts
  src/app/admin/pages/routes/routes.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: make deleting fields below the active field
  src/app/admin/components/route-form/route-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: first station control
  src/app/admin/components/route-form/route-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: move on the route detailed page
  src/app/admin/components/route/route.component.html
  src/app/admin/components/route/route.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: calc all carriage seats
  src/app/api/carriagesService/carriage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: include 'back' button that navigation back to the routes page
  src/app/admin/components/route/route.component.html
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/pages/route-detailed/route-detailed.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add form from/to search
  src/app/home/components/.gitkeep
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.scss
  src/app/home/components/search/search.component.ts
  src/app/home/pages/home/home.component.html
  src/app/home/pages/home/home.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: title on the route detailed page
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: display list of rides
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.scss
  src/app/admin/components/ride/ride.component.spec.ts
  src/app/admin/components/ride/ride.component.ts
  src/app/admin/components/rides-list/rides-list.component.html
  src/app/admin/components/rides-list/rides-list.component.scss
  src/app/admin/components/rides-list/rides-list.component.spec.ts
  src/app/admin/components/rides-list/rides-list.component.ts
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.spec.ts
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/admin/pipes/ride.pipe.spec.ts
  src/app/admin/pipes/ride.pipe.ts
  src/app/api/models/schedule.ts
  src/app/api/rideService/ride.service.spec.ts
  src/app/api/rideService/ride.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  eslint --max-warnings 0: any of: *.{js,mjs,jsx,ts,tsx}
  npx stylelint --fix: any of: *.scss
