Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: remove unnecessary comparison
  src/app/home/components/result-list/result-list.component.html
Due: prettier --write --ignore-unknown

fix: remove iso format of dates
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add price
  src/app/api/ordersService/orders.data.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: create timeline component
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/home/components/trip-timeline/models/timeline-data.ts
  src/app/home/components/trip-timeline/trip-timeline.component.html
  src/app/home/components/trip-timeline/trip-timeline.component.scss
  src/app/home/components/trip-timeline/trip-timeline.component.spec.ts
  src/app/home/components/trip-timeline/trip-timeline.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: refactor: orders component timeline
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/trip-timeline/trip-timeline.component.html
  src/app/home/components/trip-timeline/trip-timeline.component.scss
  src/app/home/components/trip-timeline/trip-timeline.component.spec.ts
  src/app/home/components/trip-timeline/trip-timeline.component.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.scss
  src/app/orders/components/order/order.component.ts
  src/app/orders/models/timeline-data.model.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: add date format choice for timeline
  src/app/home/components/trip-timeline/models/timeline-data.ts
  src/app/home/components/trip-timeline/trip-timeline.component.html
  src/app/home/components/trip-timeline/trip-timeline.component.scss
  src/app/home/components/trip-timeline/trip-timeline.component.ts
  src/app/orders/components/order/order.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/home/components/trip-timeline/trip-timeline.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display chosen trip time
  src/app/core/services/routing/routing.service.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add a title at the top
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: add ride identifier
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: add cancel button
  src/app/api/ordersService/orders.data.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.scss
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: ride departure and arrival stations
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement button back
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: change router path in signIn/up
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement detailed route modal
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update eslint config for tests
  .eslintrc.json
Due: prettier --write --ignore-unknown

test: trip-detailed component
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary type
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary assignment
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnesessary stop propagation
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: change dates format of segments time
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: adaptive on the search page
  src/app/admin/components/routes-list/routes-list.component.scss
  src/app/home/components/filter/filter.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/trip-timeline/trip-timeline.component.html
  src/app/home/components/trip-timeline/trip-timeline.component.scss
  src/app/home/components/trip-timeline/trip-timeline.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add dialog and error message for cancel button
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: favicon
  public/img/png/favicon.png
  src/index.html
Due: prettier --write --ignore-unknown

refactor: implement userMessageService
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove providers:
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove toastModule
  src/app/orders/components/order/order.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: first tab result
  src/app/home/components/filter/filter.component.html
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement saving current ride
  src/app/core/constants/store.ts
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/home/services/filter/filter.service.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: timeline styles
  src/app/home/components/trip-timeline/trip-timeline.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: sort carriage names
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement carriage type tabs
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: search autocomplete and switch active tab
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/services/filter/filter.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tab info after search
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: use method for format of date
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add relevant carriages into tabs
  src/app/admin/components/carriage/carriage.component.ts
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/models/currentRide.model.ts
  src/app/home/services/result-list/result-list.service.ts
  src/app/trip-detailed/components/.gitkeep
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.scss
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.spec.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
  src/app/trip-detailed/services/.gitkeep
  src/app/trip-detailed/services/train-carriages-list/train-carriages-list.service.spec.ts
  src/app/trip-detailed/services/train-carriages-list/train-carriages-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: display relevant first active tab
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update type guard
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: activate manager view for manager/admin user
  src/app/api/ordersService/orders.service.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

Path conditions:
  prettier --write --ignore-unknown: any of: *
  eslint --max-warnings 0: any of: *.{js,mjs,jsx,ts,tsx}
  npx stylelint --fix: any of: *.scss
