Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: user orders service
  src/app/shared/models/userOrder.model.ts
  src/app/shared/services/data/ride/ride.service.ts
  src/app/shared/services/data/tripCarriages/trip-carriages.service.ts
  src/app/shared/services/data/tripDates/trip-dates.service.ts
  src/app/shared/services/data/tripPrice/trip-price.service.ts
  src/app/shared/services/data/tripStations/trip-stations.service.ts
  src/app/shared/services/data/userOrder/user-order.service.spec.ts
  src/app/shared/services/data/userOrder/user-order.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: user orders
  src/app/api/helpers/isOverriddenHttpErrorResponse.ts
  src/app/api/models/order.ts
  src/app/api/models/search.ts
  src/app/api/ordersService/orders.data.ts
  src/app/api/ordersService/orders.service.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/home/models/groupedRoutes.model.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/components/orders-list/orders-list.component.scss
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.scss
  src/app/orders/pages/orders/orders.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/orders/components/order/order.component.scss
  src/app/shared/services/data/userOrder/user-order.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: remove commented out code
  src/app/shared/models/userOrder.model.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tabs auto scroll
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add seat number to order
  src/app/orders/components/order/order.component.html
Due: prettier --write --ignore-unknown

fix: border of active tab
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add separate request to detailed
  package.json
  src/app/api/models/trip-detailed.ts
  src/app/api/stationsService/stations.service.ts
  src/app/core/services/routing/routing.service.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.ts
  src/app/shared/services/data/ride/ride.service.ts
  src/app/shared/services/data/tripDates/trip-dates.service.ts
  src/app/shared/services/data/tripStations/trip-stations.service.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
  src/app/trip-detailed/services/train-carriages-list/train-carriages-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: detailed path
  src/app/core/services/routing/routing.service.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/admin/pages/carriages/carriages.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: merge sprint-2
  package.json
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/components/carriage/carriage.component.ts
  src/app/admin/components/seat/seat.component.html
  src/app/admin/components/seat/seat.component.scss
  src/app/admin/components/seat/seat.component.ts
  src/app/admin/services/seat/seat.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: admin forms validate
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/create-ride-form/create-ride-form.component.ts
  src/app/admin/components/create-station-form/create-station-form.component.html
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/ride/ride.component.ts
  src/app/admin/components/seat/seat.component.html
  src/app/admin/components/seat/seat.component.ts
  src/app/admin/pages/carriages/carriages.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: trip-detailed and orders pages
  src/app/api/carriagesService/carriage.service.ts
  src/app/api/ordersService/orders.service.ts
  src/app/api/stationsService/stations.service.ts
  src/app/auth/components/login-form/login-form.component.ts
  src/app/home/components/filter/filter.component.ts
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.scss
  src/app/orders/components/order/order.component.ts
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.ts
  src/app/shared/services/data/ride/ride.service.ts
  src/app/shared/services/data/tripStations/trip-stations.service.ts
  src/app/shared/services/data/userOrder/user-order.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.html
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
  src/app/trip-detailed/services/train-carriages-list/train-carriages-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: tests
  src/app/admin/components/seat/seat.component.spec.ts
  src/app/trip-detailed/components/train-carriages-list/train-carriages-list.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/admin/components/seat/seat.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: seat number
  src/app/admin/components/carriage/carriage.component.html
Due: prettier --write --ignore-unknown

fix: admin seats
  src/app/admin/components/carriage/carriage.component.html
Due: prettier --write --ignore-unknown

fix: results carriage name and free seats count
  src/app/home/pages/home/home.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: separate type validators
  src/app/trip-detailed/pages/trip-detailed/helpers/helper.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isCarriage.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isCarriageInfoArray.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isCarriages.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isCurrentRide.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isStationInfoArray.ts
  src/app/trip-detailed/pages/trip-detailed/helpers/isTrainCarriages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: move format date to utils
  src/app/home/services/filter/filter.service.ts
  src/app/shared/utils/formatDate.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tab z-index
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

style: add border color on hover
  src/app/home/components/result-list/components/result-item/result-item.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

style: result item
  src/app/home/components/result-list/components/result-item/result-item.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: no orders message
  public/img/png/no-results.png
  public/img/png/no-results.webp
  src/app/admin/pages/carriages/carriages.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/result-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.scss
  src/app/orders/pages/orders/orders.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: hide ticket info on successful response
  src/app/admin/services/seat/seat.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: carriage styles
  src/app/admin/components/carriage/carriage.component.html
  src/app/admin/components/carriage/carriage.component.scss
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/auth/services/auth-service/auth.service.ts
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/shared/services/data/userOrder/user-order.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: clear data on logout
  src/app/auth/components/logout/logout.component.ts
  src/app/home/components/search/search.component.ts
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.html
  src/app/orders/pages/orders/orders.component.ts
  src/app/shared/services/data/ride/ride.service.ts
  src/app/shared/services/data/userOrder/user-order.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add order carriage number
  src/app/orders/components/order/order.component.html
  src/app/orders/components/order/order.component.ts
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/models/userOrder.model.ts
  src/app/orders/pages/orders/orders.component.ts
  src/app/orders/services/userOrder/user-order.service.spec.ts
  src/app/orders/services/userOrder/user-order.service.ts
  src/app/shared/services/data/tripCarriages/trip-carriages.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: no orders user message
  src/app/orders/components/orders-list/orders-list.component.html
  src/app/orders/components/orders-list/orders-list.component.scss
  src/app/orders/components/orders-list/orders-list.component.ts
  src/app/orders/pages/orders/orders.component.scss
  src/app/orders/pages/orders/orders.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: order status
  src/app/orders/components/order/order.component.html
Due: prettier --write --ignore-unknown

fix: capitalize stations on creating
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/shared/utils/capitalizeEachWord.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: same longitude/latitude error response
  src/app/admin/components/create-station-form/create-station-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update user message
  src/app/admin/components/create-station-form/create-station-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

style: book a seat button
  src/app/admin/services/seat/seat.service.ts
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.html
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.scss
  src/app/trip-detailed/pages/trip-detailed/trip-detailed.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: hide ticket info on error response
  src/app/admin/services/seat/seat.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: handle irrelevant time error
  src/app/admin/components/create-ride-form/create-ride-form.component.ts
  src/app/admin/components/ride/ride.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove no rides date tabs
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: make station connections required
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/shared/validators/validators.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update no rides user message
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.scss
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  eslint --max-warnings 0: any of: *.{js,mjs,jsx,ts,tsx}
  npx stylelint --fix: any of: *.scss
