Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

feat: add icon to autocomplete
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.scss
  src/app/home/components/search/search.component.ts
  src/app/shared/directives/autocompleteIcon/autocomplete-icon.directive.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: remove failing spect.ts
  src/app/home/pages/home/home.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add shadow to circle icon
  src/app/shared/directives/autocompleteIcon/autocomplete-icon.directive.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add date/time input
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: display time on rides list
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.scss
  src/app/admin/pipes/ride.pipe.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add filter component
  src/app/api/models/search.ts
  src/app/api/searchService/search.service.ts
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.scss
  src/app/home/components/filter/filter.component.ts
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.ts
  src/app/home/pages/home/home.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: remove console log
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove fake dates
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add utility to count trip duration
  src/app/shared/utils/calculateDuration.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement search result item
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement search result list
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/result-list/result-list.component.scss
  src/app/home/components/result-list/result-list.component.spec.ts
  src/app/home/components/result-list/result-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: display result list on main page
  src/app/home/pages/home/home.component.html
  src/app/home/pages/home/home.component.scss
  src/app/home/pages/home/home.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: display user message for no search results
  public/img/no-results.png
  public/img/no-results.webp
Due: prettier --write --ignore-unknown

feat: implement service for search results
  src/app/home/components/.gitkeep
  src/app/home/service/result-list-service/result-list.service.spec.ts
  src/app/home/service/result-list-service/result-list.service.ts
  src/app/home/services/.gitkeep
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

test: cover functionality with tests
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/shared/utils/calculateDuration.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: filter func
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: remove search request
  src/app/home/components/filter/filter.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement editing prices
  src/app/admin/components/ride-time/ride-time.component.html
  src/app/admin/components/ride-time/ride-time.component.scss
  src/app/admin/components/ride-time/ride-time.component.spec.ts
  src/app/admin/components/ride-time/ride-time.component.ts
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.scss
  src/app/admin/components/ride/ride.component.spec.ts
  src/app/admin/components/ride/ride.component.ts
  src/app/admin/models/ride.model.ts
  src/app/admin/pages/route-detailed/route-detailed.component.html
  src/app/admin/pages/route-detailed/route-detailed.component.ts
  src/app/admin/pipes/ride.pipe.spec.ts
  src/app/admin/pipes/ride.pipe.ts
  src/app/admin/utils/collectAllRideData.ts
  src/app/api/rideService/ride.service.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: search result item
  src/app/core/services/routing/routing.service.ts
  src/app/home/components/result-list/components/result-item/models/timeline-data.ts
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/shared/constants/string-templates.ts
  src/app/shared/directives/.gitkeep
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: loaders
  src/app/admin/components/ride-time/ride-time.component.html
  src/app/admin/components/ride-time/ride-time.component.ts
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unnecessary routing service method
  src/app/core/services/routing/routing.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: user message
  src/app/admin/components/ride/ride.component.ts
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add no tickets user message
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/home/service/result-list-service/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add info about start and end stations
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/service/result-list-service/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: replace onChange with onInit
  src/app/home/components/result-list/components/result-item/result-item.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implemet styles for search
  src/app/home/components/search/search.component.html
  src/app/home/components/search/search.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement displaying modal content
  public/styles/common.scss
  src/app/admin/models/ride.model.ts
  src/app/auth/components/logout/logout.component.ts
  src/app/core/components/navigation/navigation.component.scss
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.scss
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/result-list/result-list.component.ts
  src/app/home/components/trip-details/models/timeline-data.ts
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.scss
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add scroll inside content
  src/app/home/components/trip-details/trip-details.component.scss
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add signal to search
  src/app/home/components/search/search.component.ts
  src/app/home/models/tripData.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: swap px for rem
  src/app/home/components/search/search.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: add styles
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.scss
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add models for search result items
  src/app/home/models/carriageInfo.model.ts
  src/app/home/models/currentRide.model.ts
  src/app/home/models/groupedRoutes.ts
  src/app/home/models/stationInfo.model.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update search result list
  src/app/home/components/result-list/components/result-item/result-item.component.html
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/result-list/components/result-item/result-item.component.ts
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.scss
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/components/trip-details/trip-details.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

chore: update eslint config not to check dist
  .eslintrc.json
Due: prettier --write --ignore-unknown

feat: update result list service to display filtered data
  src/app/home/services/result-list/result-list.service.spec.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: tests
  src/app/home/components/result-list/components/result-item/result-item.component.spec.ts
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/result-list/result-list.component.spec.ts
  src/app/home/components/result-list/result-list.component.ts
  src/app/home/components/trip-details/trip-details.component.spec.ts
  src/app/home/services/result-list/result-list.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display sorted list of relevant rides
  src/app/home/components/result-list/result-list.component.html
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display route and user stations
  src/app/api/stationsService/stations.service.ts
  src/app/home/components/trip-details/trip-details.component.html
  src/app/home/components/trip-details/trip-details.component.scss
  src/app/home/components/trip-details/trip-details.component.ts
  src/app/home/models/stationInfo.model.ts
  src/app/home/services/result-list/result-list.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: prettier issues
  src/app/home/components/filter/filter.component.html
  src/app/home/components/filter/filter.component.scss
  src/app/home/services/filter/filter.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement editing prices
  src/app/admin/components/ride-price/ride-price.component.html
  src/app/admin/components/ride-price/ride-price.component.scss
  src/app/admin/components/ride-price/ride-price.component.spec.ts
  src/app/admin/components/ride-price/ride-price.component.ts
  src/app/admin/components/ride-time/ride-time.component.scss
  src/app/admin/components/ride-time/ride-time.component.ts
  src/app/admin/components/ride/ride.component.html
  src/app/admin/components/ride/ride.component.ts
  src/app/admin/models/ride.model.ts
  src/app/admin/utils/collectAllRideData.ts
  src/app/shared/directives/.gitkeep
  src/app/shared/services/userMessage/constants/user-messages.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix
