Repository Kleostro/tu-tu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

feat: add http-interceptor
  src/app/api/interceptors/http.interceptor.spec.ts
  src/app/api/interceptors/http.interceptor.ts
  src/app/api/signInService/sign-in.service.spec.ts
  src/app/api/signInService/sign-in.service.ts
  src/app/api/signUpService/sign-up.service.spec.ts
  src/app/api/signUpService/sign-up.service.ts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: corrections based on suggestions
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.scss
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: replace ngIf with @if
  src/app/auth/pages/register/register.component.html
Due: prettier --write --ignore-unknown

fix: resolve conflict
  src/app/app.routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add password validation with length and passwords matching
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add tests for interceptor
  src/app/api/interceptors/http.interceptor.spec.ts
  src/app/api/interceptors/http.interceptor.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: resolve conflicts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: path to localStorage service
  src/app/api/interceptors/http.interceptor.spec.ts
  src/app/api/interceptors/http.interceptor.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: add shared validators
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
  src/app/shared/validators/.gitkeep
  src/app/shared/validators/validators.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add stationsService
  src/app/api/interceptors/http.interceptor.spec.ts
  src/app/api/models/stations.ts
  src/app/api/stationsService/stations.service.spec.ts
  src/app/api/stationsService/stations.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add error messages for empty form fields
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add tests for stationsService
  src/app/api/stationsService/stations.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement create station form
  src/app/admin/components/create-station-form/create-station-form.component.html
  src/app/admin/components/create-station-form/create-station-form.component.scss
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/shared/constants/message-status.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement map
  src/app/admin/components/map/map.component.html
  src/app/admin/components/map/map.component.scss
  src/app/admin/components/map/map.component.ts
  src/app/admin/services/.gitkeep
  src/app/admin/services/map/map.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: api key for map
  src/environment/environment.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: inital map state
  angular.json
  package.json
  public/styles/common.scss
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/constants/initial-map-state.ts
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/pages/stations/stations.component.html
  src/app/admin/pages/stations/stations.component.scss
  src/app/admin/pages/stations/stations.component.spec.ts
  src/app/admin/pages/stations/stations.component.ts
  src/app/admin/utils/createNewPopupOffsets.ts
  src/app/api/stationsService/stations.service.ts
  src/app/shared/utils/makeFirstLetterToUppercase.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: replace ngIf with if
  src/app/admin/components/create-station-form/create-station-form.component.html
  src/app/admin/components/create-station-form/create-station-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement guards for different access
  src/app/app.routes.ts
  src/app/auth/guards/.gitkeep
  src/app/auth/guards/admin.guard.ts
  src/app/auth/guards/login.guard.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

chore: update prime ng theme
  angular.json
Due: prettier --write --ignore-unknown

chore: disable conflicting rules
  .eslintrc.json
Due: prettier --write --ignore-unknown

feat: add material and fot awesome icons
  src/index.html
Due: prettier --write --ignore-unknown

feat: create app navigation
  src/app/core/components/navigation/constants/navigation-links.ts
  src/app/core/components/navigation/navigation.component.html
  src/app/core/components/navigation/navigation.component.scss
  src/app/core/components/navigation/navigation.component.spec.ts
  src/app/core/components/navigation/navigation.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement app header
  generators/entity-generator.cjs
  src/app/admin/constants/adminCredentials.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/shared/utils/string-template.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: navigation tests
  src/app/admin/constants/adminCredentials.ts
  src/app/core/components/navigation/navigation.component.spec.ts
  src/app/core/components/navigation/navigation.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: test
  src/app/auth/guards/admin.guard.ts
  src/app/core/services/local-storage/local-storage.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: header on admin page
  jest.config.ts
  src/app/admin/components/create-station-form/create-station-form.component.scss
  src/app/admin/components/create-station-form/create-station-form.component.ts
  src/app/admin/components/map/map.component.scss
  src/app/admin/components/sidebar/sidebar.component.html
  src/app/admin/components/sidebar/sidebar.component.scss
  src/app/admin/components/sidebar/sidebar.component.ts
  src/app/admin/layout/admin-layout/admin-layout.component.html
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/layout/admin-layout/admin-layout.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/navigation/constants/navigation-links.ts
  src/app/shared/constants/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add error messages for sign-up API backend
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add error messages for sign-up API backend
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add tests for register.component
  src/app/auth/pages/register/register.component.spec.ts
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: use firstValueFrom instead of subscribe
  src/app/auth/pages/register/register.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add sign-in form
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/register/register.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: remove spec
  src/app/auth/pages/login/login.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: remove unused header styles
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement not found page
  public/styles/variables.scss
  src/app/core/pages/not-found/not-found.component.html
  src/app/core/pages/not-found/not-found.component.scss
  src/app/core/pages/not-found/not-found.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: remove unnecessary import
  src/app/core/pages/not-found/not-found.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add logout
  src/app/api/logoutService/logout.service.ts
  src/app/api/models/logoutResponse.ts
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.scss
  src/app/auth/components/logout/logout.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement dependency mapping of each station
  src/app/admin/components/create-station-form/create-station-form.component.html
  src/app/admin/components/create-station-form/create-station-form.component.scss
  src/app/admin/components/create-station-form/create-station-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement marker linking on the map
  package.json
  src/app/admin/components/map/map.component.ts
  src/app/admin/constants/initial-map-state.ts
  src/app/admin/pages/stations/stations.component.html
  src/app/admin/pages/stations/stations.component.ts
  src/app/admin/services/map/map.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

fix: import http and logout to admins standalone component
  src/app/admin/layout/admin-layout/admin-layout.component.spec.ts
  src/app/auth/components/logout/logout.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add auth-service
  src/app/app.config.ts
  src/app/auth/pages/register/register.component.html
  src/app/auth/pages/register/register.component.ts
  src/app/auth/services/.gitkeep
  src/app/auth/services/auth-service/auth.service.spec.ts
  src/app/auth/services/auth-service/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0
